#root {
  /*  max-width: 1280px; */
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  /* background-color: black; */
  background-image: url(./images/pexels-jonathan-borba-16002196.jpg);
  background-size: contain;
  padding: 0 50px;
  font-family: "Kode Mono";
}

/* GENERAL STYLE */
h1 {
  font-size: 20px;
}

/* PLANETS LIST */

.planet-container {
  /* display: flex; */
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards {
  background-color: rgba(0, 0, 0, 0.341);
  border: 1px solid rgba(255, 255, 255, 0.718);
  border-radius: 10px;
  padding: 5px;
}

.img-container img {
  width: 300px;
  height: 350px;
  object-fit: cover;
}

.name-container h1 {
  color: white;
  font-size: 24px;
}

/* PLANETS DETAIL */

.details-container-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.details-container-text {
  margin: 10px 10px;
  border: 1px solid rgba(255, 255, 255, 0.718);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.437);
}

.details-container-top img {
  width: 600px;
  height: 600px;
}

.container-description {
  margin: 10px 10px;
  border: 1px solid rgba(255, 255, 255, 0.718);
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.437);
}

/* FORM */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.forms {
  padding: 20px 100px;
  border: 1px solid rgba(255, 255, 255, 0.718);
  background-color: rgba(0, 0, 0, 0.437);
  border-radius: 20px;
}

.forms input {
  display: flex;
  height: 30px;
  width: 600px;
  text-align: center;
  border: 1px solid rgba(11, 1, 1, 0.969);
  background-color: #ffffff2f;
  border-radius: 10px;
  color: #fff;
}

.forms button {
  margin-top: 20px;
}

/******************************************************************************/
/****************Button About Page*********************************************/
/******************************************************************************/
.button-icon {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.icon {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
}

.icon svg {
  width: 25px;
  height: 25px;
}

.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.button-icon:hover {
  border-color: grey;
}

.button-icon:hover .cube {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 47px;
  width: 200px;
  display: flex;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-transform: uppercase;
}

.top {
  background: grey;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}