#root {
  /*  max-width: 1280px; */
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  /* background-color: black; */
  background-image: url(./images/pexels-jonathan-borba-16002196.jpg);
  background-size: contain;
  padding: 0 50px;
  font-family: "Kode Mono";
  width: 100vw;
  color: white;
}

/* GENERAL STYLE */
h1,
.linkOne,
.linkTwo {
  color: #fff;
  /* text-shadow: 0 0 21px #fff, 0 0 42px rgb(232, 238, 236),
    0 0 82px rgb(238, 244, 242), 0 0 92px rgb(238, 243, 241),
    0 0 102px rgb(156, 161, 159), 0 0 151px rgb(202, 207, 205); */
  animation: neon 0.1s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
      0 0 40px rgba(202, 228, 225, 0.34), 0 0 22px rgba(30, 132, 242, 0.52),
      0 0 31px rgba(30, 132, 242, 0.92), 0 0 44px rgba(30, 132, 242, 0.78),
      0 0 64px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
      0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
      0 0 60px rgba(30, 132, 242, 1);
  }
}

/* NAV */
nav ul {
  list-style: none;
  display: flex;
  color: #fff;
  justify-content: end;
  gap: 30px;
}

nav li {
  list-style: none;
}
/* PLANETS LIST */

.planet-container {
  /* display: flex; */
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards {
  background-color: rgba(0, 0, 0, 0.341);
  border: 1px solid rgba(255, 255, 255, 0.718);
  border-radius: 10px;
  padding: 5px;
}

.cards:hover {
  transform: scale(1.07);
}

.img-container img {
  width: 300px;
  height: 350px;
  object-fit: cover;
}

.name-container h1 {
  color: white;
  font-size: 24px;
}

/* TEST ANIMATION */

/* PLANETS DETAIL */

.details-container-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.details-container-text {
  margin: 10px 10px;
  border: 1px solid rgba(255, 255, 255, 0.718);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.437);
}

.details-container-top img {
  width: 600px;
  height: 600px;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatex(-10px);
  }

  50% {
    transform: translatex(-35px);
  }

  100% {
    transform: translatex(-10px);
  }
}

.container-description {
  margin: 10px 10px;
  border: 1px solid rgba(255, 255, 255, 0.718);
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.437);
}

/* FORM */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.forms {
  padding: 20px 100px;
  border: 1px solid rgba(255, 255, 255, 0.718);
  background-color: rgba(0, 0, 0, 0.437);
  border-radius: 20px;
}

.forms input {
  display: flex;
  height: 30px;
  width: 600px;
  text-align: center;
  border: 1px solid rgba(11, 1, 1, 0.969);
  background-color: #ffffff2f;
  border-radius: 10px;
  color: #fff;
}

.forms button {
  margin-top: 20px;
}

/******************************************************************************/
/****************Button About Page*********************************************/
/******************************************************************************/

/******************GitHub*****************************************************/
.button-icon {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.icon {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
}

.icon svg {
  width: 25px;
  height: 25px;
}

.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.button-icon:hover {
  border-color: grey;
}

.button-icon:hover .cube {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 47px;
  width: 200px;
  display: flex;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-transform: uppercase;
}

.top {
  background: grey;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}

/**************************LinkedIn*********************************************/

.button-icon-link {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.icon-link {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
}

.icon-link svg {
  width: 25px;
  height: 25px;
}

.cube-link {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.button-icon-link:hover {
  border-color: #0077b5;
}

.button-icon-link:hover .cube-link {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 47px;
  width: 200px;
  display: flex;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-transform: uppercase;
}

.top-link {
  background: #0077b5;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front-link {
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}


/************************Quote-slider******************************************/

#slider-container {
  overflow: hidden;
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 50s linear infinite;
  -webkit-animation: my-animation 50s linear infinite;
  animation: my-animation 50s linear infinite;
  color: white;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

